.gradle
.settings
build
bin
eaglercraftbungee/bin
eaglercraftbungee/rundir
epkcompiler/bin
spigot-server/world*
eaglercraftbungee/rundir
stable-download/java/spigot_command/world/*
stable-download/java/spigot_command/world_nether/*
stable-download/java/spigot_command/world_the_end/*
stable-download/java/spigot_command/server.log
stable-download/java/bungee_command/proxy*